.home-page {
  background-color: black;
  height: 100%;
  align-items: center;
  color: white;
  font-family: "Franklin Gothic Heavy", sans-serif;

  .header {
    height: 6vh;
    width: 30%;
    padding-top: 1vh ;
    margin-left: 1%;
    font-size: 4vh;
    border: 4px solid transparent;
    border-bottom: white;

  }

}

